.RestaurantEntry {
    margin: 50px;
}

.scrolling-list {
    margin: 0;
    padding: 0;
    background-color: dimgrey;
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.item-image {
    display: inline-block;
    margin: 10px;
    width: 250x;
    height: 250px;
}

.button {
    background-color: white;
    outline: white;
    width: 100%;
    font-size: 30px;
}

.button>h1 {
    display: inline;
    font-size: 50px;
    vertical-align: left;
}

.button>p {
    display: inline;
    font-size: 20px;
    vertical-align: left;
}