@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    float: left;
}


/* display 3 */

@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.restaurant-head {
    padding: 20px;
    background-color: dimgray;
    color: tomato;
}

.jumbotron {
    float: right;
}

.category-bar {
    float: left;
    width: 75%;
    color: black;
    background-color: gray;
}

.order-info {
    padding: 20px;
}

.cart {
    margin-top: 2%;
    width: 100%;
    height: 90%;
    float: left;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

body {
    color: black;
    background: dimgray;
    font-family: 'Open Sans', sans-serif;
}

.checkout-btn {
    width: 100%;
}

.table-wrapper {
    width: 100%;
    /* margin: 5px; */
    background: grey;
    /* padding: 5px; */
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 5px;
    margin: 0 0 0px;
}

.table-title h2 {
    margin: 6px 0 0;
    font-size: 20px;
}

.table-title .add-new {
    float: none;
    height: 12px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 20px;
    border-radius: 50px;
    line-height: 8px;
}

.table-title .add-new i {
    margin-right: 4px;
}

table.table {
    table-layout: fixed;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
}

table.table th i {
    font-size: 8px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}

table.table td a.add {
    color: #27C46B;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}

table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}

table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}

table.table .form-control.error {
    border-color: #f50000;
}

table.table td .add {
    display: none;
}