.btn-floating-left{
    position: relative;
    width: 0;
    height: 0;
    border: 100% solid;
    border-top: 50px solid transparent;
    border-right: 50px solid DimGrey;
    border-bottom: 50px solid transparent;
    border-left: 0px;
    background-color: transparent;
    float: left;
    margin-left: 30%;
    margin-top: 10%;
}

.btn-floating-left:hover {
    border-right: 50px solid Tomato
}

.btn-floating-right{
        position: relative;
        /* width: 0;
        height: 0; */
        border: 100% solid;
        border-top: 50px solid transparent;
        border-left: 50px solid DimGrey;
        border-bottom: 50px solid transparent;
        border-right: 0px;
        background-color: transparent;
        float: right;
        /* margin-right: 30%;
        margin-top: 10%; */
}

.btn-floating-right:hover {
    border-left: 50px solid Tomato
}

.btn-default {

    background-color: tomato;

}
